* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #23272a;
    font-family: 'Roboto Mono', monospace;
}
.container{
    width: 500px;
}
.res{
    font-size: 16px;
    margin-bottom: 10px;
}
.display{
    border: solid 1px #404449;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    place-items: end;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.firstRow{
    border: none;
    background-color: #7289da;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

#btns{
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}   